<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>638296518980-jc5ecn8i61075ss1ughrqudkpvhben8j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.638296518980-jc5ecn8i61075ss1ughrqudkpvhben8j</string>
	<key>API_KEY</key>
	<string>AIzaSyAm9kn6Sfii0IN5MDe1UQdGuRmaBJXf_m8</string>
	<key>GCM_SENDER_ID</key>
	<string>638296518980</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Ouail.TheDoctors</string>
	<key>PROJECT_ID</key>
	<string>the-doctors-a174e</string>
	<key>STORAGE_BUCKET</key>
	<string>the-doctors-a174e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:638296518980:ios:9ee8a5bddcf69e40452711</string>
</dict>
</plist>